#page {
  padding: 1em;
}

button {
  background-color: #99d8ff;
  color: #2c3e4f;
  font-weight: bold;
  font-size: 1.2em;
  border: 0;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}
button:focus {
  outline: none;
}
button.danger {
  background-color: #ff8080;
}
button.success {
  background-color: #9adea6;
}
button.disabled, button:disabled {
  color: #848484;
  background-color: #d4d4d4;
}

/* Custom CSS */
/* ... */